@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --font-family-secondary: "Dancing Script", cursive;
    --font-family-main: "Poppins", sans-serif;
}

html,
body {
  max-width: 100vw;
  

}

body {
    font-family: var(--font-family-main), serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.heading-h2 {
    color:  #002603;
    font-family: var(--font-family-secondary), serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: -0.96px;
}
.poppins-12 {
    font-family: var(--font-family-secondary), serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}
.poppins-14 {
    font-family: var(--font-family-secondary), serif;

    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}
.poppins-15 {
    font-family: var(--font-family-secondary), serif;

    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}
.poppins-16 {
    font-family: var(--font-family-secondary), serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 19.2px */
}

.poppins-18 {
    font-family: var(--font-family-secondary), serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.poppins-20 {
    font-family: var(--font-family-secondary), serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}


.heading-sm {
    font-family: var(--font-family-secondary), serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3;
}

.heading-md {
    font-family: var(--font-family-secondary), serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.25;
}

.heading-lg {
    font-family: var(--font-family-secondary), serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
}

.heading-xl {
    font-family: var(--font-family-secondary), serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.15;
}